<!DOCTYPE html>
<html lang="en">
  <%-include('../components/_head') %>
<body class="services-stranka">
  <header class="header">
    <div class="header-content">
        <a href="../" class="logo">
          <img src="assets/foto/pngwing.com.png" alt="Logo">
            <span class="site-name">Minecraft</span>
        </a>
        <button class="menu-toggle" id="menuToggle">
            <span class="hamburger"></span>
        </button>
    </div>
    <%-include('../components/_links') %>
</header>

<div class="page-content">
  <h1 class="page-title">Our Services</h1>
  <p class="page-description">Explore a variety of Minecraft-related services tailored for your needs!</p>

  <div class="service-section">
    <a href="https://buildpaste.net/" style="text-decoration: none; color: black;">
      <div class="service-card">
        <h2>Custom Minecraft Builds</h2>
        <p>Create stunning Minecraft worlds designed just for you.</p>
      </div>
    </a>
    <a href="https://www.bisecthosting.com/?googleads=true&gad_source=1&gclid=EAIaIQobChMIyOypitvGigMVj6iDBx2E5hK7EAAYAiAAEgKVx_D_BwE" style="text-decoration: none; color: black;">
      <div class="service-card">
        <h2>Server Hosting</h2>
        <p>Reliable and secure servers to enjoy multiplayer adventures.</p>
      </div>
    </a>
    <a href="https://minecraft.wiki/w/Tutorials" style="text-decoration: none; color: black;">
      <div class="service-card">
        <h2>Minecraft Tutorials</h2>
        <p>Learn new skills and enhance your Minecraft experience.</p>
      </div>
    </a>
    <a href="https://www.planetminecraft.com/texture-packs/tag/skins/" style="text-decoration: none; color: black;">
      <div class="service-card">
        <h2>Skin & Texture Packs</h2>
        <p>Get custom-designed skins and texture packs.</p>
      </div>
    </a>
    <a href="https://www.minecraft.net/en-us/article/meet-your-minecraft-cms" style="text-decoration: none; color: black;">
    <div class="service-card">
        <h2>Community Management</h2>
        <p>Expert help with server moderation and player engagement.</p>
      </div>
    </a>
  </div>
</div>
<footer>
  <p>&copy; 2024 Minecraft Facts. All rights reserved.</p>
  <ul class="footer-links">
    <li><a href="/Games">Games</a></li>
    <li><a href="/Shop">Shop</a></li>
    <li><a href="/Services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/Events">Events</a></li>
  </ul>
  <ul class="social-links">
      <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
</footer>

<script src="../assets/js/main.js"></script>
</body>
</html>