<nav class="nav-links">
    <ul>
        <li><a href="/Games">Games</a></li>
        <li><a href="/Shop">Shop</a></li>
        <li><a href="/Services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/Events">Events</a></li>
    </ul>
</nav>