<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon.ico">  
  <title>Games</title>
  <meta name="description" content="Learn fascinating facts about Minecraft.">
  <meta name="keywords" content="Minecraft, fun facts, games, shop">
  <meta name="author" content="Vasyl">
</head>
<body class="Games-stranka">
    <header class="header">
        <div class="header-content">
            <a href="../" class="logo">
              <img src="assets/foto/pngwing.com.png" alt="Logo">
                <span class="site-name">Minecraft</span>
            </a>
            <button class="menu-toggle" id="menuToggle">
                <span class="hamburger"></span>
            </button>
        </div>
        <nav class="nav-links">
            <ul>
              <li><a href="/Games">Games</a></li>
              <li><a href="/Shop">Shop</a></li>
              <li><a href="/Services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/Events">Events</a></li>
            </ul>
        </nav>
    </header>

  <main class="main-content">
    <h1>A variety of game modes in Minecraft</h1>
    <p>Learn more about the different game modes that you can find in Minecraft and how they change the gameplay.</p>
  </main>

  <section class="mode-section">
    <div class="mode"> 
        <h3>Survival mode</h3>
        <p>Survival model In this mode, the player has to survive, collect resources, build and fight monsters.</p>
    </div>
    <div class="mode">
        <h3>Creative mode</h3>
        <p>Creative mode allows players to build, break, and create blocks in their world. This mode is highly configurable and allows players to create their own custom worlds.</p>
    </div>
    <div class="mode">
        <h3>Adventure mode</h3>
        <p>Adventure mode introduces new challenges and challenges players to explore and discover new locations.</p>
    </div>
  </section>
  <footer>
    <p>© 2024 Minecraft Facts. All rights reserved.</p>
    <ul class="footer-links">
      <li><a href="/Games">Games</a></li>
      <li><a href="/Shop">Shop</a></li>
      <li><a href="/Services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/Events">Events</a></li>
    </ul>
    <ul class="social-links">
      <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>